<% header "Edit #{resource_name.to_s.humanize}" %>
<div class="user-edit-container">
  <div class="user-edit">

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation" ><a href="#password" aria-controls="password" role="tab" data-toggle="tab">Password</a></li>
    <li role="presentation" ><a href="#setting" aria-controls="setting" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="profile">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <span class="label label-info">Currently waiting confirmation for: <%= resource.unconfirmed_email %></span>
          <% end %>
        </div>

        <%= f.submit "Update", class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="password">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          <span class="help-block">leave blank if you don't want to change it</span>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
          <span class="help-block">we need your current password to confirm your changes</span>
        </div>
        <%= f.submit "Update", class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="setting">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label :unit_type %><br />
          <%= f.select(:unit_type, [['Metric','1'],['Imperial','2']],{},{ :class => "form-control"}  )%>
        </div>
        <%= f.submit "Update", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

  <p>
  <h3 class="cancellation ">Cancel my account Unhappy?</h3>

    <%= button_to "Cancel my account", registration_path(resource_name), class: 'btn btn-danger',
                  data: { confirm: "Are you sure?" }, method: :delete %>
  </p>
  </div>
</div>